.coverage
.coverage.*
*.egg-info
*.log
*.mo
*.py?
*.swp
.*project
# dirs
/.settings/
.tox/
.vscode/
bin/
buildout-cache/
develop-eggs/
docs/_build/
eggs/
htmlcov/
include/
lib/
local/
node_modules/
parts/
dist/*
test.plone_addon/
var/
reports/
venv/
# files
.installed.cfg
.mr.developer.cfg
coverage.*
lib64
local.cfg
log.html
output.xml
pip-selfcheck.json
pyvenv.cfg
report.html
# excludes
