[buildout]
find-eggs += /collective.collabora/dist
extends = test_plone61.cfg
develop = 
[instance]
http-address = 6180

[versions]
# upstream docutils pin causes breakage
docutils =


# Added by buildout at 2025-03-03 15:30:10.074649
i18ndude = 6.2.1

# Required by:
# Products.PortalTransforms==4.1.1
# plone.app.theming==5.0.11
docutils = 0.21.2
